<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Utility";
}

<div>
<div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-4xl font-bold tracking-tight text-gray-500 dark:text-white sm:text-6xl">Utility</h2>
    <p class="mt-6 text-lg leading-8 text-gray-400 dark:text-gray-300">
    Here you can find some tools & quick links to make your daily life as
    a student & developer easier.
    </p>
</div>

<!-- TODO (GM): Add some icons + restyle this! -->
<!-- TODO (GM): Add shortlinks like unia.xyz to access these! -->
<div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
    <div class="flex gap-x-4 rounded-xl bg-gray-600/5 dark:bg-white/5 p-6 ring-1 ring-inset ring-gray-500/10 dark:ring-white/10">
        <a href="https://www.rapidtables.com/convert/number/hex-to-binary.html" target="_blank">
            <div class="text-base leading-7">
                <h3 class="font-semibold text-gray-500 dark:text-white">Binary Converter</h3>
            </div>
        </a>
    </div>

    <div class="flex gap-x-4 rounded-xl bg-gray-600/5 dark:bg-white/5 p-6 ring-1 ring-inset ring-gray-500/10 dark:ring-white/10">
        <a href="https://www.integralrechner.de/" target="_blank">
            <div class="text-base leading-7">
                <h3 class="font-semibold text-gray-500 dark:text-white">Integralrechner mit Lösungsweg (German only)</h3>
            </div>
        </a>
    </div>

    <div class="flex gap-x-4 rounded-xl bg-gray-600/5 dark:bg-white/5 p-6 ring-1 ring-inset ring-gray-500/10 dark:ring-white/10">
        <!-- TODO (GM): Write your own differential calculator? -->
        <a href="https://www.ableitungsrechner.net/" target="_blank">
            <div class="text-base leading-7">
                <h3 class="font-semibold text-gray-500 dark:text-white">Differentialrechner mit Lösungsweg (German only)</h3>
            </div>
        </a>
    </div>

    <div class="flex gap-x-4 rounded-xl bg-gray-600/5 dark:bg-white/5 p-6 ring-1 ring-inset ring-gray-500/10 dark:ring-white/10">
        <!-- TODO (GM): Write your own client-side text-compare since it might not be smart to trust a third-party with some information -->
        <a href="https://text-compare.com/" target="_blank">
            <div class="text-base leading-7">
                <h3 class="font-semibold text-gray-500 dark:text-white">Text-Compare: Finding differences between two strings</h3>
            </div>
        </a>
    </div>
</div>
