<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Utility";
}

<div>
    <h1>Utility</h1>

    <p>
        Here you can find some tools & quick links to make your daily life as
        a student & developer easier.
    </p>

    <ul>
        <li>
            <a href="https://www.rapidtables.com/convert/number/hex-to-binary.html" target="_blank">
                Binary-Converter
            </a>
        </li>
        <li>
            <a href="https://www.integralrechner.de/" target="_blank">
                Integralrechner mit Lösungsweg (German only)
            </a>
        </li>

        <!-- TODO (GM): Write your own differential calculator? -->
        <li>
            <a href="https://www.ableitungsrechner.net/" target="_blank">
                Differentialrechner mit Lösungsweg (German only)
            </a>
        </li>

        <!-- TODO (GM): Write your own client-side text-compare since it might not be smart to trust a third-party with some information -->
        <li>
            <a href="https://text-compare.com/" target="_blank">
                Text-Compare: Finding differences between two strings
            </a>
        </li>
    </ul>
</div>
