<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Impressum";
}

<div class="text-center">
    <h1 class="display-4">Leider steht aktuell noch kein Impressum zur Verfügung!</h1>
</div>
