<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Home";
}

<div class="text-center">
    <h1 class="display-4">This section is currently still under construction. Please come back later!</h1>
</div>
