<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Home";
}

<div class="mx-auto max-w-2xl lg:mx-0">
    <!-- TODO (GM): Link all the sub-pages with some nice visuals here! -->
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">Welcome Traveller!</h2>
</div>
