<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Home";
}

<div>
    <h1>Welcome Traveller!</h1>

    <!-- TODO (GM): Link all the sub-pages with some nice visuals here! -->
</div>
