<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Blog";
}

<div>
    <h1>My blog</h1>

    <p>
        Seems like Max has nothing interesting to write about... yet.
    </p>
</div>
