<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - About";
}

<div>
    <h1>About me</h1>

    <p>
        Hi, I'm Max. I'm a Software Engineer, first-year CS major and math enthusiast from Germany.
        While I try to keep as much of this website in English as possible,
        it's not always possible - which is why some of the resources you find on here
        will be in German.
    </p>

    <ul>
        <li>Projects Page</li>
        <li>
            <a href="https://github.com/MaxGruebmeyer" target="_blank">
                Link to GitHub
            </a>
        </li>
        <li>CV</li>

        <!-- TODO (GM): Mail sending service! -->
        <li>Contact Me</li>
    </ul>
</div>
