<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Useful Resources";
}

<div>
    <h1 class="display-4">A collection of useful resources</h1>

    <p>
        Here you can find a collection of all kinds of resources that - for 
        some reason or another - stuck with me. Be it books, videos, lecture
        notes, problem sets or research papers.
    </p>

    <h2>Some good reads</h2>

    <ul>
        <li>Designing Data-Intensive Applications</li>
    </ul>

    <h2>Worth a watch</h2>

    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=fNk_zzaMoSs&list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab">
                Essence of Linear Algebra
            </a>
        </li>
        <li>
            <a href="https://youtu.be/d0gS5TXarXc?si=TdWseYAaCH863vS2">
                Deep-Dive on Linux Signal Handling
            </a>
        </li>
        <li>
            <a href="https://youtu.be/jjKFXlFNR4E?si=8w6E8xL9jvDwJwJM">
                An Introduction to Computer Networks:
            </a>
        </li>
        <li>
            <a href="https://youtu.be/6JxvKfSV9Ns?si=Mk601-4HfxSHD_T5">
                Fibonacci-Heaps
            </a>
        </li>
    </ul>

    <h2>Lecture notes</h2>

    <p>
        Currently there are no lecture notes available.
    </p>

    <h2>Problem Sets</h2>

    <ul>
        <li>Thomaesche Funktion</li>
        <li>Night of the Profs</li>
        <li>Navigating the Grid</li>

        <!-- TODO (GM): Provide an API for the penguin problem so people can test their solution? -->
        <li>The penguin problem</li>
    </ul>

    <h2>Interesting Research</h2>

    <p>
        Seems like there is no interesting research! Can this be true...?
    </p>
</div>
