<!-- TODO (GM): Centralize Title? -->
@{
    ViewData["Title"] = "Max Gruebmeyer - Useful Resources";
}

<div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">A collection of useful resources</h2>
    <p class="mt-6 text-lg leading-8 text-gray-700 dark:text-gray-300">
    Here you can find a collection of all kinds of resources that - for 
    some reason or another - stuck with me. Be it books, videos or just some interesting problems.
    </p>
</div>

<div class="mx-auto max-w-2xl lg:mx-0">
    <h3 class="text-4xl font-bold tracking-tight text-gray-800 dark:text-gray-200 sm:text-4xl">Some good reads</h2>

    <!-- TODO (GM): Replace this with a list of some sort! -->
    <p class="mt-6 text-lg leading-8 text-gray-700 dark:text-gray-300">
    Desigining Data-Intensive Applications
    </p>

    <h3 class="text-4xl font-bold tracking-tight text-gray-800 dark:text-gray-200 sm:text-4xl">Worth a watch</h2>

    <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        <li class="relative">
            <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
                <iframe class="w-full aspect-[16/9]" src="https://www.youtube.com/embed/d0gS5TXarXc"></iframe>
            </div>
        </li>
        <li class="relative">
            <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
                <iframe class="w-full aspect-[16/9]" src="https://www.youtube.com/embed/jjKFXlFNR4E"></iframe>
            </div>
        </li>
        <li class="relative">
            <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
                <iframe class="w-full aspect-[16/9]" src="https://www.youtube.com/embed/6JxvKfSV9Ns"></iframe>
            </div>
        </li>
        <li class="relative">
            <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
                <iframe class="w-full aspect-[16/9]" src="https://www.youtube.com/embed/fNk_zzaMoSs?list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab"></iframe>
            </div>
        </li>
    </ul>

    <h3 class="text-4xl font-bold tracking-tight text-gray-800 dark:text-gray-200 sm:text-4xl">Problem Sets</h2>
    <p class="mt-6 text-lg leading-8 text-gray-700 dark:text-gray-300">
        Thomaesche Funktion
        <br/>
        Night of the Profs
        <br/>
        Navigating the Grid
        <br/>

        <!-- TODO (GM): Provide an API for the penguin problem so people can test their solution? -->
        The penguin problem
        <br/>
        Dislo Bijektion
    </p>
</div>
